body{background:#fff;color:#000;font-family:"Lucida Console",Monaco,monospace;font-weight:100;font-size:12pt;text-align:center;width:100%;margin:0%}blink{color:#fff;text-decoration:blink}@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
  }.css3-blink{-webkit-animation-name:blinker;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);-webkit-animation-duration:1s}.neg{background:#fff;color:#00a;padding:.2% .8%;font-weight:bold}p{font-weight:lighter;margin:3% 3%;text-align:left;line-height:150%}.blue{color:#3498db}.yellow{color:#e79c10}.green{color:#1d9099}.red{color:#d53a33}.purple{color:#9b59b6}.white{color:#fff}a,a:hover{color:inherit;font:inherit}img{display:block;margin:0 auto}p1{word-break:break-all;text-align:left}#bottom{color:#000;font-size:8pt;position:absolute;bottom:0}.menu{text-align:right;margin-top:5%}

  t2 { 
   position: absolute; 
   top: 25%; 
   left: 0; 
   width: 140%; 
}